$theme-colors: (
	primary: #dc3545,
	secondary: #fff,
	ternary: #6c757d,
	ternary-dark: #343a40
);

// .bg-primary {
// 	background-color: #ffffed !important;
// }

@import "../src/bootstrap/scss/bootstrap.scss";
